VetSoft/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VetSoft/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VetSoft/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
VetSoft/obj/Debug/VetSoft.exe
VetSoft/obj/Debug/VetSoft.pdb
VetSoft/obj/Debug/VetSoft.Resources.resources
VetSoft/obj/Debug/VetSoft.vbproj.FileListAbsolute.txt
VetSoft/obj/Debug/VetSoft.vbproj.GenerateResource.Cache
VetSoft/obj/Debug/VetSoft.xml
CapaDatos/bin/Debug/CapaDatos.dll
CapaDatos/bin/Debug/CapaDatos.pdb
CapaDatos/bin/Debug/CapaDatos.xml
CapaDatos/obj/Debug/CapaDatos.dll
CapaDatos/obj/Debug/CapaDatos.pdb
CapaDatos/obj/Debug/CapaDatos.Resources.resources
CapaDatos/obj/Debug/CapaDatos.vbproj.FileListAbsolute.txt
CapaDatos/obj/Debug/CapaDatos.vbproj.GenerateResource.Cache
CapaDatos/obj/Debug/CapaDatos.xml
CapaNegocios/bin/Debug/CapaNegocios.dll
CapaNegocios/bin/Debug/CapaNegocios.pdb
CapaNegocios/bin/Debug/CapaNegocios.xml
CapaNegocios/obj/Debug/CapaNegocios.dll
CapaNegocios/obj/Debug/CapaNegocios.pdb
CapaNegocios/obj/Debug/CapaNegocios.Resources.resources
CapaNegocios/obj/Debug/CapaNegocios.vbproj.FileListAbsolute.txt
CapaNegocios/obj/Debug/CapaNegocios.vbproj.GenerateResource.Cache
CapaNegocios/obj/Debug/CapaNegocios.xml
CapaNegocios/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VetSoft/bin/Debug/VetSoft.exe
VetSoft/bin/Debug/VetSoft.pdb
VetSoft/bin/Debug/VetSoft.vshost.exe
VetSoft/bin/Debug/VetSoft.vshost.exe.manifest
VetSoft/bin/Debug/VetSoft.xml
